<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container" style="height: 66px;">
    <div id="navbar">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
      </nav>
      </div>
  </div>
</nav> -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" style="height: 30px;">
        <a class="navbar-brand" style="float:left;"href="<%=root_path %>"><%= image_tag("logo.png", height: '40') %></a>

        <div class="navbar-header pull-right" style="padding: 0.5em 0; margin-right: 0em">

          <div class="nav navbar-nav navbar-right">
                  <li><a href="<%= root_path %>"><span class="hide-on-small"> Home </span></a></li>
                  <li><a href="<%= help_path %>"><span class="hide-on-small"> Help </span></a></li>
          </div>

        </div>

    </div>

</nav>
