<!DOCTYPE html>
<html>

<head>
  <title><%=t('layouts.application.title')%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<%= render 'shared/navbar' %>
  <div style="height:5em"></div>

	<div class="container-non-padding">
		<%= yield %>
    <%= debug(params) if Rails.env.development? %>
	</div>

  <%= render 'shared/footer' %>
</body>
</html>
